.containerDiv {
  min-height: 83vh;
  position: relative;
}
.container {
  background: #dcb233;
  align-items: center;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
}

.footer {
  display: flex;

  font-family: "Gabriela", serif;
}

.logoContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 18px;
}
.logoText {
  text-align: center;
  position: absolute;
  padding-top: 70px;
  font-size: small;
  color: rgb(0, 0, 0);
}
.socialIcons {
  display: flex;
}
.icons {
  margin: 11px 4px;
}
.links a,
.footerContact {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
}
.footerTitle {
  color: #d81b1b;
}

@media screen and (min-width: 980px) {
  .container {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    margin-top: 70px;
  }
  .footer {
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
  }
  .links a,
  .footerContact {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }

  .footerLogo {
    padding-bottom: 800px;
  }
  .logoText {
    font-size: small;
    padding-top: 80px;
  }
}
