.container {
  background: #dcb233;
  align-items: center;
  width: 100%;
  height: 240px;
  position: absolute;
  bottom: 0;
}
.containerDiv {
  min-height: 39vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 16px;
  justify-content: space-around;
  font-family: "Gabriela", serif;
}
.footerDivs {
  padding: 5px;
}
.logoContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 18px;
}
.logoText {
  text-align: center;
  position: absolute;
  padding-top: 70px;
  font-size: small;
  color: rgb(0, 0, 0);
}
.socialIcons {
  display: flex;
}
.icons {
  margin: 11px 4px;
}
.links a,
.footerContact {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
}
.footerTitle {
  color: #db1717;
}

@media screen and (min-width: 980px) {
  .container {
    display: flex;
    padding: 100px;
    justify-content: space-between;
    margin-top: 70px;
  }
  .footer {
    grid-gap: 100px;
  }
  .links a,
  .footerContact {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .footerLogo {
    padding-bottom: 800px;
  }
  .logoText {
    font-size: small;
    padding-top: 80px;
  }
}
