.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-family: "Gabriela", serif;
}
.navbarDiv {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-family: "Gabriela", serif;
}
.navbarLogin {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  margin-right: auto;
}

.navbar a {
  margin: 0 14px;
  font-size: 20px;
  color: #3c3a3a;
}
.reserver {
  background: rgb(64, 0, 255);
  padding: 2px;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
}

image.btnBurger {
  display: none;
  position: relative;
}

.btnBurger {
  display: block;
  position: absolute;
  cursor: pointer;
}
.btnBurger:hover {
  cursor: pointer;
}
.Burger_Line {
  display: block;
  position: absolute;
  right: 155px;
  cursor: pointer;
}
.Burger_Line:hover {
  cursor: pointer;
}
.Burger_Line,
.Burger_Line::before,
.Burger_Line::after {
  display: block;
  width: 45px;
  height: 4px;
  position: relative;
  border-radius: 5px;
  background: rgb(218, 23, 23);
}

.Burger_Line::before,
.Burger_Line::after {
  content: "";
  position: absolute;
  right: 0;
}
.Burger_Line::before {
  transform: translateY(-12px);
}
.Burger_Line::after {
  transform: translateY(12px) !important;
}

@media screen and (max-width: 765px) {
  .navbar {
    padding: 1rem;
  }

  .btnBurger {
    padding: 0 10px;
    display: block;
    position: absolute;
  }

  .navbar a {
    display: none;
  }
}
