@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  height: 75px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 3vw;
}
.navItems {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: #7585eb;
  bottom: 0;
  font-size: 20px;
  align-items: center;
  color: #000000;
}
.navItems li {
  display: inline-flex;
}
.burgerLogo a {
  display: flex;
  position: fixed;
  visibility: visible;
  align-items: center;
  justify-content: center;
}
.burgerLogo {
  padding-right: 12%;
  padding-bottom: 12px;
}
.userIcon {
  padding-left: 64%;
  display: flex;
  align-items: center;
}

.logocontainer {
  display: none;
}

.btnBurger {
  width: 45px;
  display: block;
  position: absolute;
  left: 15px;
  cursor: pointer;
}
.btnBurger:hover {
  cursor: pointer;
}
.burger_Line {
  display: block;
  position: absolute;
  cursor: pointer;
}
.burger_Line:hover {
  cursor: pointer;
}
.burger_Line,
.burger_Line::before,
.burger_Line::after {
  display: block;
  width: 45px;
  height: 4px;
  position: relative;
  border-radius: 5px;
  background: rgb(81, 32, 239);
}

.burger_Line::before,
.burger_Line::after {
  content: "";
  position: absolute;
  left: 0;
}
.burger_Line::before {
  transform: translateY(-12px);
}
.burger_Line::after {
  transform: translateY(12px);
}
.show_nav .navItems {
  top: 65px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.show_nav .navItems li {
  padding: 2rem;
}
.show_nav .navItems a {
  color: #fff;
}
.show_nav .burger_Line {
  width: 0;
  background: transparent;
}
.show_nav .burger_Line::before {
  left: 0;
  transform: rotate(45deg) !important;
}
.show_nav .burger_Line::after {
  transform: rotate(-45deg) !important;
}

@media screen and (min-width: 765px) {
  .navbar {
    display: flex;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    flex-direction: initial;
    font-size: 1vw;
  }
  .navItems {
    display: initial;
    position: relative;
    font-family: "Gabriela", serif;
    font-weight: 500;
    font-size: 18px;
    width: 60;
    color: #3f3f3f;
    background-color: initial;
  }

  .navItems li {
    padding: 8px;
    display: initial;
  }

  .navItems .non_active {
    color: #434343;
  }
  .navItems .active {
    color: #ca6116;
  }
  .btnBurger {
    display: none;
  }

  .logocontainer {
    display: flex;
    align-items: center;
  }

  .reserver {
    height: 32px;
    display: initial;
    background: #2831b1;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .burgerLogo {
    display: none;
  }

  .userIcon {
    display: flex;
    margin-left: -450px;
  }
}
