@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  height: 75px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 3vw;
}
.navItems {
  display: none;
  position: fixed;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  padding: 1.2rem;
  background-color: #0e1755;
  font-size: 20px;
  align-items: center;
  color: #3d613d;
}
.logocontainer {
  /* probleme menu*/
  display: none;
}
.navItems li {
  display: inline-flex;
}
.burgerLogo {
  padding-right: 12%;
  padding-bottom: 12px;
}
.burgerLogo a {
  display: flex;
  position: fixed;
  visibility: visible;
  align-items: center;
  justify-content: center;
}

.userIcon {
  padding-left: 64%;
  display: flex;
  align-items: center;
}

.btnBurger {
  width: 45px;
  display: block;
  position: absolute;
  left: 15px;
  cursor: pointer;
}
.btnBurger:hover {
  cursor: pointer;
}
.burgerBars {
  display: block;
  position: absolute;
  cursor: pointer;
}
.burgerBars:hover {
  cursor: pointer;
}
.burgerBars,
.burgerBars::before,
.burgerBars::after {
  display: block;
  width: 45px;
  height: 5px;
  position: relative;
  border-radius: 5px;
  background: rgb(59, 21, 184);
}

.burgerBars::before,
.burgerBars::after {
  content: "";
  position: absolute;
  left: 0;
}
.burgerBars::before {
  transform: translateY(-12px);
}
.burgerBars::after {
  transform: translateY(12px);
}
.show_menu .navItems {
  display: flex;
  z-index: 1;
  top: 60px;
  flex-direction: column;
}
.show_menu .navItems li {
  padding: 2rem;
}
.show_menu .navItems a {
  color: #fff;
}
.show_menu .burgerBars {
  width: 0;
  background: transparent;
}
.show_menu .burgerBars::before {
  left: 0;
  transform: rotate(45deg);
}
.show_menu .burgerBars::after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 764px) {
  .navbar {
    display: flex;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    flex-direction: initial;
    font-size: 1vw;
  }
  .navItems li {
    padding: 8px;
    display: initial;
  }
  .navItems {
    display: initial;
    position: absolute;
    font-size: 18px;
    width: 60;
    color: #3f3f3f;
    font-family: "Gabriela", serif;
    font-weight: 500;
    background-color: initial;
  }
  .navItems .active {
    color: #ca6116;
  }

  .navItems .non_active {
    color: #3b3a3a;
  }

  .btnBurger {
    display: none;
  }

  .logocontainer {
    display: flex;
    align-items: center;
  }

  .reserver {
    height: 26px;
    display: initial;
    background: #2831b1;
    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }
  .burgerLogo {
    display: none;
  }

  .userIcon {
    display: flex;
    margin-left: -450px;
  }
}
