.containerService {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-family: "Gabriela", serif;
  font-size: 20px;
  color: #2a2a92;
}

.title span {
  font-family: "Gabriela", serif;
  font-size: 20px;
  color: #ed071d;
}

.containerSection {
  background-color: #2a2a92;
  width: 100%;
  padding: 30px;
}

.containerForm {
  background-color: white;
  width: 100%;

  border-radius: 20px;
  padding: 30px 30px 30px 30px;
}

.containerInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4fc;
  width: 100%;
  height: 30px;
  padding: 30px 0px 30px 0px;
  font-weight: 600;
  color: #696999;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #bebebe, -1px -1px 20px #bebebe;
  margin: 0px 0px 15px 0px;
}

.containerInput input {
  width: 150px;
  margin-right: 20px;
}
.containerInput p {
  margin-left: 20px;
}
.containerTime {
  font-size: 20px;
}

.containerTime select {
  margin-left: 10px;
  width: 75px;
}

.containerCatVehicles {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.containerCardVehicules {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.normal {
  display: flex;
  align-items: space-around;
  justify-content: flex-start;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
  padding: 5px;
  border-radius: 60px;
}

.active {
  display: flex;
  align-items: space-around;
  justify-content: flex-start;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
  background-color: #2a2a92;
  padding: 5px;
  border-radius: 60px;
}

.active p {
  color: #ffffff;
}

.vehi1,
.vehi2,
.vehi3,
.vehi4 {
  background-color: #f4f4fc;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.vehi1 {
  background-image: url(../public/images/vehiLoca1.webp);
}

.vehi2 {
  background-image: url(../public/images/vehiLoca2.webp);
}

.vehi3 {
  background-image: url(../public/images/vehiLoca3.webp);
}

.vehi4 {
  background-image: url(../public/images/vehiLoca4.webp);
}

.textVehicule {
  margin: 0;
  padding-left: 10px;
  width: 60%;
  color: #696999;
}

.containerImageAndInput {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.containerNumberPeople input {
  height: 20px;
  width: 20px;
}

.nbrPeople {
  background-image: url(../public/images/NbrPeople.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 110px;
  height: 60px;
}

.containerButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.buttonForfaitNormal {
  color: #696999;
  background-color: #f4f4fc;
  border: none;
  font-size: 15px;
  width: 48%;
  padding: 10px;
  border-radius: 30px;
}

.buttonForfaitActive {
  color: white;
  background-color: #2a2a92;
  border: none;
  font-size: 15px;
  width: 48%;
  padding: 10px;
  border-radius: 30px;
}

.containerEndingButton {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
}

.buttonNormal {
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  border: none;
  color: #000000;
  font-weight: 700;
}

.buttonActive {
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 700;
  background-color: #2a2a92;
}

.containerSectionLeft {
  display: none;
}

.inputTime {
  border: none;
  border-bottom: 1px solid #828282;
  color: #828282;
}

.inputDate {
  background-color: #f4f4fc;
  border: none;
  border-bottom: 1px solid #696999;
  color: #696999;
}

.inputPlace {
  background-color: #f4f4fc;
  border: none;
  border-bottom: 1px solid #696999;
  color: #696999;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (min-width: 1140px) {
  .containerSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .containerSectionLeft {
    display: block;
    padding: 220px 60px 0px 120px;
    width: 1200px;
    margin-right: 30px;
    background-image: url(../public/images/BgPageLocaVehi.webp);
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 40px;
  }

  .containerSectionRight {
    width: 600px;
  }

  .containerCardVehicules {
    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: space-around;
    justify-content: space-around;
  }

  .normal {
    display: flex;
    align-items: space-around;
    justify-content: flex-start;
    width: 150px;
    margin-top: 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: 60px;
  }

  .active {
    display: flex;
    align-items: space-around;
    justify-content: flex-start;
    width: 150px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #2a2a92;
    padding: 5px;
    border-radius: 60px;
  }
}
