.PhoneSectionContainer {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #242481;
  border-radius: 30px 0px 0px 30px;
  top: 50vh;
  right: 0;
  z-index: 3;
}

.PhoneImage {
  height: 20px;
  width: 30px;
  background-image: url(../public/images/phone.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 15px;
  cursor: pointer;
}

.PhoneNumberNotAppear {
  display: none;
}

.PhoneNumberAppear {
  color: white;
  margin-right: 15px;
}

/* NOT WORKING !!!   .PhoneNumberAppear:hover {
  color: blue;
} */
