@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.mainContainer {
  text-align: center;
  font-family: "Gabriela", serif;
}

.mainTitle {
  font-size: 36px;
  color: rgb(31, 31, 144);
}

.top_text {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.titleColor {
  color: red;
}
.titleColor2 {
  color: red;
  font-weight: bolder;
}
.bold_text {
  font-weight: bolder;
}
.photo_title {
  margin-top: 60px;
}
.calculator_container {
  width: 90%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.calculator_text {
  color: aliceblue;
  text-align: center;
  font-size: 12px;
}
.calculator_text2 {
  color: aliceblue;
  text-align: start;
  font-size: 12px;
  padding: 10px 0 6px 18px;
}
.bg_calculator {
  background-color: rgb(11, 11, 177);
  border-radius: 10px;
  padding: 10px;
}

.calculator_input {
  border-radius: 10px;
  width: 90%;
  border: none;
  padding: 6px;
}

.btn {
  background-color: rgb(27, 26, 66);
  color: white;
  border-radius: 10px;
  border: none;
  margin-top: 16px;
  width: 30%;
  padding: 6px;
}

.bgImage {
  position: fixed;
  z-index: -1;
  top: 300px;
  background-image: url(../public/images/ligne.png);
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  opacity: 0.7;
}

.map_container {
  margin-top: 40px;
}

.dropdown_btn {
  background: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.dropdown_content {
  width: 80%;
  padding: 15px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  left: 0;
  background: rgb(32, 38, 110);
}
.dropdown_item {
  padding: 10px;
  cursor: pointer;
  color: rgb(213, 213, 213);
}
.dropdown_item:hover {
  background: rgb(18, 18, 76);
  border-radius: 10px;
}

@media screen and (min-width: 490px) {
  .calculator_container {
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .calculator_text {
    color: aliceblue;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    font-size: 12px;
  }

  .calculator_text2 {
    color: aliceblue;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    font-size: 12px;
  }
}

@media screen and (min-width: 964px) {
  .calculator_container {
    width: 54%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .calculator_text {
    color: aliceblue;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    font-size: 12px;
  }

  .calculator_text2 {
    color: aliceblue;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    font-size: 12px;
  }
}
