.tarifContainer {
  border: 1px solid white;
  width: 150px;
  height: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  padding: 20px 0px 0px 20px;
  margin-bottom: 40px;
}

.stroke {
  border: 1px solid white;
  width: 100px;
  margin-top: -15px;
}

.yellowRound {
  position: absolute;
  margin: 5px 0px 0px 9px;
  width: 50px;
  height: 50px;
  background-color: #ffee19;
  border-radius: 100%;
  z-index: -1;
}

.price {
  margin: 10px 0px 0px 20px;
  font-size: 35px;
}

.buttonResa {
  position: relative;
  margin-left: 20px;
  border-radius: 20px;
  border: none;
  padding: 3px 10px 3px 10px;
}
