.vehiculeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vehiculetext1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2a2a92;
  font-family: "Gabriela", serif;
  width: 100%;
}

.vehiculetext1span {
  color: #ed071d;
}

.vehiculeCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 15px 0px 15px 0px;
}

.cardHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;
}

.img1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 40px;
  background-image: url(../public/images/vehicule1.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 100%;
}

.img2 {
  background-image: url(../public/images/vehicule2.webp);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  width: 110px;
  height: 100%;
}

.img3 {
  background-image: url(../public/images/vehicule3.webp);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
  width: 110px;
  height: 100%;
}

.img4 {
  background-image: url(../public/images/vehicule4.webp);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
  width: 110px;
  height: 100%;
}

.cardHeaderContainerp {
  margin: 20px 0px 0px 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.cardTextContainer {
  width: 320px;
  padding: 10px;
  text-align: justify;
}

.textDesktopContainer {
  display: none;
}

@media screen and (min-width: 600px) {
  .textDesktopTitle {
    font-size: 40px;
  }
  .textDesktopSubTitle {
    font-size: 20px;
  }
  .cardHeaderContainerp {
    display: none;
  }

  .wrapperTitle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .cardTextContainer {
    display: none;
  }

  .textDesktopContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
  }

  .textDesktop {
    display: flex;
    width: 50%;
    height: 200px;
  }

  .mainCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .vehiculeCardContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 1000px;
    max-height: 300px;
  }

  .img1 {
    position: absolute;
    top: 0px;
    left: 150px;
    background-image: url(../public/images/vehicule1.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 150px;
    cursor: pointer;
  }

  .img2 {
    display: flex;
    background-image: url(../public/images/vehicule2.webp);
    background-position: center;
    position: absolute;
    top: 90px;
    left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 150px;
    cursor: pointer;
  }

  .img3 {
    background-image: url(../public/images/vehicule3.webp);
    background-position: center;
    position: absolute;
    transform: rotateY(180deg);
    top: -15px;
    right: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    cursor: pointer;
  }

  .img4 {
    background-image: url(../public/images/vehicule4.webp);
    background-position: center;
    position: absolute;
    transform: rotateY(180deg);
    top: 90px;
    right: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 340px;
    height: 200px;
    cursor: pointer;
  }

  .img1:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  .img2:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  .img3:hover {
    transform: scale(1.1) rotateY(180deg);
    transition: 1s;
  }
  .img4:hover {
    transform: scale(1.1) rotateY(180deg);
    transition: 1s;
  }

  .textOff {
    display: none;
  }

  .textOn {
    display: flex;
  }
}

@media screen and (min-width: 600px) and (max-width: 810px) {
  .textDesktopTitle {
    font-size: 35px;
  }
  .textDesktopSubTitle {
    font-size: 15px;
  }
  .cardHeaderContainerp {
    display: none;
  }

  .cardTextContainer {
    display: none;
  }

  .textDesktopContainer {
    display: flex;
    width: 100%;
    height: 200px;
  }

  .mainCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .vehiculeCardContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 300px;
  }

  .img1 {
    position: absolute;
    top: 0px;
    left: 120px;
    background-image: url(../public/images/vehicule1.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    cursor: pointer;
  }

  .img2 {
    display: flex;
    background-image: url(../public/images/vehicule2.webp);
    background-position: center;
    position: absolute;
    top: 70px;
    left: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    cursor: pointer;
  }

  .img3 {
    background-image: url(../public/images/vehicule3.webp);
    background-position: center;
    position: absolute;
    transform: rotateY(180deg);
    top: -20px;
    right: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    cursor: pointer;
  }

  .img4 {
    background-image: url(../public/images/vehicule4.webp);
    background-position: center;
    position: absolute;
    transform: rotateY(180deg);
    top: 50px;
    right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 240px;
    height: 200px;
    cursor: pointer;
  }

  .img1:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  .img2:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  .img3:hover {
    transform: scale(1.1) rotateY(180deg);
    transition: 1s;
  }
  .img4:hover {
    transform: scale(1.1) rotateY(180deg);
    transition: 1s;
  }
}
