.positionSectionHome {
  position: relative;
  top: 140px;
}

.welcomeContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.welcomeFirstSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #2a2a92;
}

.stroke {
  height: 1px;
  width: 150px;
  background-color: black;
}

.spanRed {
  color: #ed071d;
  margin-left: 10px;
}

.texteGabriela {
  text-align: center;
  font-family: "Gabriela", serif;

  width: 340px;
  font-size: 28px;
}

.blocVoyage {
  width: 100%;
  padding-left: 30px;
}

.blocVoyage p {
  color: #2a2a92;
}

.blocEndSection {
  position: relative;
  width: 100%;
  padding-left: 20px;
}
.paiement {
  position: absolute;
  left: 40px;
  bottom: 65px;
  text-align: center;
}

.texteGabriela2 {
  font-family: "Gabriela", serif;
  height: 30px;
  font-size: 28px;
  margin-bottom: 60px;
}

.surlignementorange {
  color: #ffad1c;
}

.surlignementrouge {
  color: #ed071d;
  font-weight: 600;
}

/* version desktop */

@media screen and (min-width: 600px) {
  .positionSectionHome {
    position: relative;
    top: 80px;
  }

  .welcomeContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .blocVoyageAndEndSection {
    margin: 160px 0px 40px 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .texteGabriela {
    color: white;
  }

  .chauffeur {
    padding-top: 20px;
  }

  .paiement {
    top: 60px;
  }
}
